@media screen and (max-width: 1250px){
    .picFrames{
        grid-template-columns: repeat(3, 300px);
    }
}

@media screen and (max-width: 1024px) {
    .whatWeDo{
        width: 100%;
    }
    .picFrames{
        grid-template-columns: repeat(3, 1fr);
    }
    .development{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 950px) {
    .frameTexts h6{
        font-size: 16px;
    }
}


@media screen and (max-width: 860px) {
    .whatWeDo > p{
        width: 100%;
    }
}


@media screen and (max-width: 750px) {
    .development{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    
}


@media screen and (max-width: 600px) {
    .whatWeDo h1{
        font-size: 30px;
    
    }
    
    .whatWeDo h2{
        width: 270px;
        border-left: 3px solid #2D2D2D;
        border-right: 3px solid #2D2D2D;
        font-size: 16px;
    }
    .design img{
        width: 70px;
        height: 70px;
        min-width: 70px;
        min-height: 70px;
    }
    .Team{
        margin-top: 100px;
    }
    .picFrames{
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    .frame1 img{
        margin-top: 0px;
    }
}