/* @font-face {
    font-family: lights;
    src: url(../assets/Fonts/LexendDeca-Light.woff2) !important;
}
@font-face {
    font-family: semi;
    src: url(../assets/Fonts/LexendDeca-SemiBold.woff2) !important;
}
@font-face {
    font-family: mediums;
    src: url(../assets/Fonts/LexendDeca-Medium.woff2) !important;
}
@font-face {
    font-family: queen;
    src:url(../assets/Fonts/Queens-Medium.woff2) !important;
    src:url(../assets/Fonts/Queens-Medium.woff2);
} */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.aboutContainer{
    width: 100%;
    height: fit-content;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color:rgb(32,25,45); */
    /* background-color: rgb(110,84,181); */
    
}
.whatWeDo{
    width: 60%;
    height: 300px;
    text-align: center;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;

}
.whatWeDo h1{
    /* font: 40px sans-serif; */
    font-weight: 300;
    color: brown;
    font: 42px text1;

}
.whatWeDo h2{
    width: 60%;
    height: 40px;
    border-left: 4px solid brown;
    border-right: 4px solid brown;
    border-top: none;
    border-bottom: none;
    color: brown;
    margin-top: 20px;
    /* background-color: blanchedalmond; */
    font: 25px text3;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.whatWeDo p{
    width: 80%;
    font: 15px text2;
    color: brown;
    margin-top: 20px;
    line-height: 20px;
    
}
.development{
    width: 70%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, fit-content);
    /* background-color: aqua; */
    gap: 40px;
    margin-top: 20px;
}
.design{
    /* background-color: rgb(161, 17, 17); */
    display: flex;
    gap: 12px;
}
.design img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: brown;

}
.text{
    margin-top: 10px;
    color:brown;
}
.text h4{
    color: brown;
    font: 18px text2;
}
.text p{
    font: 14px text1;
    line-height: 20px;
    font-weight: 100;
    margin-top: 8px;
    color: brown;
}
.Team{
    width: 65%;
    height: fit-content;
    margin-bottom: 100px;
    margin-top: 250px;
    padding-bottom: 50px;
    text-align: center;
}
.Team h1{
    color: brown;
    font: 32px text2;
    font-weight: 600;
    margin-bottom: 50px;
}
.picFrames{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 380px);
    column-gap: 70px;
    row-gap: 100px;
    /* background-color: aqua; */
   
}

.frame1 img{
    width: 100%;
    height: 80%;
    margin-top: 50px;
    border-radius: 10px;
    /* background-color: azure; */
}
.frame2 img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    /* background-color: azure; */
}

.frameTexts{
    width: 100%;
    height: 15%;
    color: brown;
    /* background-color: aquamarine; */
    padding-top: 10px;
}
.frameTexts h6{
    font: 20px text2;
    font-weight: 600;
    color: brown;
}