@media screen and (max-width: 1250px){
    .Team{
        width: 75%;
    }
}

@media screen and (max-width: 1024px) {
    .whatWeDo{
        width: 100%;
    }
    .Team{
        margin-top: 150px;
        width: 90%;
    }
    .development{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 950px) {
    .Team{
        width: 90%;
        margin-top: 150px;
    }
    .frameTexts h6{
        font: 18px sans-serif;
        font-weight: 600;
    }
}


@media screen and (max-width: 860px) {
    .whatWeDo > p{
        width: 100%;
    }
    .Team{
        width: 95%;
    }
}


@media screen and (max-width: 750px) {
    .development{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    
    .picFrames{
        width: 100%;
        height: fit-content;
        column-gap: 5%;
        row-gap: 5%;
        /* background-color: aqua; */
       
    }
    .frame1 img{
        /* width: 65%; */
        height: 300px;
        margin-top: 50px;
        /* background-color: azure; */
    }
    .frame2 img{
        /* width: 65%; */
        height: 300px;
        /* background-color: azure; */
    }
}
@media screen and (max-width: 600px) {
    .whatWeDo h1{
        font-size: 30px;
    
    }
    
    .whatWeDo h2{
        width: 300px;
        border-left: 3px solid #2D2D2D;
        border-right: 3px solid #2D2D2D;
        margin-top: 10px;
        font-size: 18px;
        padding-top: 10px;
    }
    .whatWeDo p{
        line-height: 18px;
        margin-top: 30px;
        
    }
    .design img{
        width: 70px;
        height: 70px;
        min-width: 70px;
        min-height: 70px;
    }
    .Team{
        width: 90%;
        margin-top: 100px;
        align-items: start;
    }
    .picFrames{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .frame1 img{
        width: 90%;
        height: 300px;
        margin-top: 0px;
        /* background-color: azure; */
    }
    .frame2 img{
        width: 90%;
        height: 300px;
        /* background-color: azure; */
    }
    .frameTexts h6{
        font: 18px sans-serif;
        font-weight: 600;
    }
}