.designer-wrap{
    width: 100%;
    height: max-content;
    /* background-color: #F4F4F4; */
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-auto-rows: minmax(300px, 400px);
    justify-content: center;
    gap: 40px;
    padding: 0 20px;
}
.designer-card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.0);
    background-blend-mode: darken;
    display: flex;
    align-items: end;
    border-radius: 5px;
}
.prof-card{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 10px;
}
.prof-det{
    /* background-color: white; */
    font-weight: bold;
    color: #2D2D2D;
}



@media screen and (max-width: 949px) {
    .designer-wrap{
        grid-template-columns: 400px;
    }
}

@media screen and (max-width: 549px) {
    .designer-wrap{
        grid-template-columns: 100%;
    }
}