@font-face {
    font-family: mediums;
    src: url(../assets/Fonts/LexendDeca-Medium.woff2);
}
@font-face {
    font-family: semi;
    src: url(../assets/Fonts/LexendDeca-SemiBold.woff2)
}
@font-face {
    font-family: queen;
    src: url(../assets/Fonts/Queens-Medium.woff2);
}

.login-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.726);
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Beverly-Hills-Luxury-Interiors-Sophisticated-and-Functional-Interiors-7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.logoText{
    font-family: logoText;
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.login-right{
    width: 600px;
    height: 100%;
    /* background-color: rgb(43,39,56); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-create{
    width: 100%;
    height: fit-content;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0 40px;
}

.login-create >h1{
    font-size: 40px;
    color: white;
    font-family: mediums;
}

form{
    width: 100%;
    height: fit-content;
    color: #2D2D2D;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    gap: 30px;
}


 .login-inp-placeholder{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    /* background-color: yellowgreen; */
    gap: 20px;
} 


.login-fi-name{
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 15px; */
    
}
.login-fi-name >input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: black;
}
.login-inp-placeholder >label{
    width: 120px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.login-inp-placeholder >input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 2px;
    padding: 0 15px;
}
button#login-dash{
    width: 100%;
    height: 100%;
    border: none;
    color: #2D2D2D;
    font-weight: 600;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    transition: all 200ms ease-out;
}
button#login-dash:hover{
    background-color: #E3C8A2;
}

.login-different{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    gap: 15px;
}
.login-border{
    width: 30%;
    height: 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}






@media screen and (max-width: 856px){
    .login-create >h1{
        font-size: 24px;
    }

}

@media screen and (max-width: 710px){
    .login-right{
        width: 100%;
    }
}

@media screen and (max-width: 587px){
    .login-fi-name >img{
        width: 40px;
        height: 40px;
    }
    .login-fi-name >p{
        font-size: 13px;
    }
}
@media screen and (max-width: 495px){
    .signup-border >p{
        font-size: 6px;
        color: white;
    }
    .signup-inp-placeholder >label{
        font-size: 9px;
    }
}




@media screen and (max-width: 587px){

    .border >p{
        font-size: 8px;
        color: white;
    }
    .create >h1{
        font-size: 20px;
    }

    .create >p{
        font-size: 14px;
    }
    .create >p >a{
        font-size: 14px;
    
    }
}
@media screen and (max-width: 495px){
    .create{
        width: 100%;
    }

    .border >p{
        font-size: 6px;
        color: white;
    }
    .create >h1{
        font-size: 16px;
    }

    .create >p{
        font-size: 11px;
    }
    .create >p >a{
        font-size: 11px;
    
    }
}