
.navbar{
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px #00246b17;
    padding: 0 20px;
}




.nav-left{
    width: 110px;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
}

.logo-wrap{
    width: 100px;
    height: 50px;
    /* background-color: green; */
    background-image: url(../assets/logos/home_styler.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.nav-mid{
    width: 500px;
    height: 100%;
    /* background-color: #2D2D2D; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.nav-option{
    width: fit-content;
    height: fit-content;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav-option > p{
    color: #2D2D2D;
    font-family: Text2;
    text-decoration: none;
}

.nav-option > p:hover{
    border-bottom: 1px solid #2D2D2D;
}

#link{
    text-decoration: none;
}




.nav-right{
    width: 200px;
    height: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 25px 0 0;
}


.nav-right-wrap{
    width: fit-content;
    height: fit-content;
    /* background-color: black; */
    display: flex;
    align-items: center;
}


.login-wrap{
    width: fit-content;
    height: fit-content;
    /* background-color: palegreen; */
    display: flex;
    padding: 5px 10px 5px 0;
    border-right: 1px solid #2D2D2D;
}

.login-wrap:hover{
    cursor: pointer;
    text-decoration: underline #2D2D2D;
}

.login-wrap > p{
    color: #2D2D2D;
    font-family: Text2;
    font-size: 14px;
}

#login-link{
    text-decoration: none;
}


.signin-wrap{
    width: fit-content;
    height: fit-content;
    /* background-color: pink; */
    padding-left: 10px;
}


button.nav-butn{
    width: 90px;
    height: fit-content;
    background-color: #BFA181;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

button.nav-butn:hover{
    transition: 300ms;
    cursor: pointer;
    background-color: #E3C8A2;
}









.nav-burger{
    width: fit-content;
    height: fit-content;
    /* background-color: pink; */
    display: none;
    justify-content: end;
    align-items: center;
}


  




.nav-burger-drop-menu{
    width: 200px;
    height: fit-content;
    background-color: white;
    border-radius: 2px;
    color: #2D2D2D;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 10px;
    position: fixed;
    top: 60px;
    right: 0;
}



.drop-menu-option{
    width: fit-content;
    height: fit-content;
    border-radius: 2px;
    padding: 2px 15px;
    /* background-color: yellow; */
}

nav

button.drop-butn{
    background-color: #2D2D2D;
    color: wheat;
}


#drop-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #2D2D2D;
}

#burger-link{
    text-decoration: none;
    font-size: 18px;
    color: #2D2D2D;
    font-weight: 600;
}









/* RESPONSIVENESS */

@media screen and (max-width: 949px) {
    .nav-mid{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .nav-burger{
        display: flex;
    }
}