@import "tailwindcss";

@font-face {
    font-family: Text2;
    src: url(./assets/Fonts/LexendDeca-Medium.woff2);
  }
  
  @font-face {
    font-family: Text1;
    src: url(./assets/Fonts/LexendDeca-SemiBold.woff2);
  }
  
  @font-face {
    font-family: Text3;
    src: url(./assets/Fonts/LexendDeca-Light.woff2);
  }

  @font-face {
    font-family: Header;
    src: url(./assets/Fonts/Queens-Medium.woff2);
  }
  
  
*{
  box-sizing: border-box;
  font-family: Text3;
  line-height: 1.5;
}


/* background - #F4F4F4 */
/* text - #2D2D2D */
/* buttons/icons - #BFA181 */
/* Call to action/buttons - #4B2E2B */
/*  hover/highlights - #E3C8A2 */
/* section backgrounds - Alternate #FFFFFF and #F4F4F4 */
/* border/shadows - #DADADA */